# Python / Django Backend Ignore
backend/venv/
venv/
*.pyc
__pycache__/
*.sqlite3
*.env
*.log
media/
staticfiles/
backend/ragBackend/chroma_db/
backend/ragBackend/media/

# Angular Frontend Ignore
frontend-rag-system/node_modules/
frontend-rag-system/.angular/
frontend-rag-system/dist/
frontend-rag-system/.idea/
frontend-rag-system/.vscode/
frontend-rag-system/*.log
frontend-rag-system/npm-debug.log*
frontend-rag-system/yarn-debug.log*
frontend-rag-system/yarn-error.log*

# General Project Ignore
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
