# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/
/media/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Secrets
.env
*.pem

# Angular
node_modules/
dist/
tmp/
.angular/
package-lock.json

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Git
*.orig
